# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
.DS_Store
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/.gradle/
android/.kotlin/
android/build/
android/*/build/
android/local.properties
android/keystore.properties
android/captures/
android/.idea/
*.apk
*.aab
*.jks
*.keystore
