<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No permissions: no network, no contacts, no location. Everything stays on the phone. -->
    <application
        android:name=".SpinolaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Spinola">
        <!-- resizeableActivity=false is UIRequiresFullScreen on iOS: no split screen on phones, where
             the match screens do not scroll. Android 16 ignores it on large screens, where the
             tablet layout (Viewport, Stage) takes over. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Spinola">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
